.footer {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  max-height: 20vh;
  width: 100vw;
  box-shadow: 0 -0.3125rem 0.3125rem -0.3125rem rgba(0, 0, 0, 0.16),
    0 -0.3125rem 0.3125rem -0.3125rem rgba(0, 0, 0, 0.12);
  padding: 1rem;

  .row {
    display: flex;
    height: 100%;
    max-width: $size-tablet;
    place-content: center;
  }

  a {
    margin: auto;
    text-decoration: none;
  }

  .icon {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .row:hover .icon {
    opacity: 0.3;
    transition: opacity 0.5s;
  }

  .row .icon:hover {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .icon {
    font-size: 2rem;
    padding: 2rem;
  }

  .github {
    color: #333;
  }

  .xing {
    color: #026466;
  }

  .instagram {
    color: #3f729b;
  }

  .facebook {
    color: #3b5998;
  }

  .twitter {
    color: #55acee;
  }

  .linkedin {
    color: #0976b4;
  }

  .email {
    color: #dd4b39;
  }
}
