@import "../colors";

.navbar {
  /* Safari */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  box-shadow: 0 0.125rem 0.3125rem 0 $color-gray;
  justify-content: space-between;

  .left {
    display: flex;
    flex-grow: 1;
  }

  .right {
    display: flex;
    align-content: center;
    flex-basis: 0;
    flex-grow: 999;
  }

  .left,
  .right>* {
    padding: 1rem;
  }

  .text {
    margin: auto;
  }

  .name {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .button {
    color: inherit;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .button:hover {
    color: $color-accent;
    font-size: 1.3rem;
  }

  .icon {
    display: none;
    padding: 0;
  }
}

/* Widescreen view */
@media screen and (min-width: $size-tablet) {

  .navbar {
    .left {
      display: block;
    }

    .right {
      flex-grow: 0;
    }
  }
}

/* Mobile view */
@media screen and (max-width: $size-mobile) {

  .navbar {
    .hidden {
      display: none;
    }

    .right {
      flex-direction: column;
    }

    .right>* {
      text-align: center;
      min-width: 40vw;
    }

    .icon {
      display: flex;
      text-align: center;
      width: 100%;
      height: 100%;
    }

    font-awesome-icon {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3vh;
      margin-bottom: 3vh;
    }
  }
}
