$transition-time: 0.5s;

.portfolio {
  .grow {
    padding-bottom: 5rem;
  }

  .grow>div>img {
    transform: scale(1.0);
    transition: transform $transition-time;
  }

  .grow:hover>div>img {
    transform: scale(1.1);
    transition: transform $transition-time;
  }

  img {
    float: left;
    width: 90%;
    height: auto;
    margin: auto;
    padding-right: 1rem;
    padding-top: 1.75rem;
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    white-space: nowrap;
  }

  h3 {
    white-space: nowrap;
  }

  .relative {
    position: relative;
  }

  .one-fifth {
    min-width: 20%;
  }

  button {
    height: 40px;
    width: 177px;
    border-radius: 0.3rem;

    text-align: center;
    text-decoration: none;
    display: inline-block;

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: white;
    border: 0.1rem solid $color-accent;
    color: $color-accent;
    font-size: 1rem;

    transition: background-color $transition-time, color $transition-time;
  }

  button:hover {
    background-color: $color-accent;
    color: white;

    transition: background-color $transition-time, color $transition-time;
  }

  @media screen and (max-width: $size-tablet) {
    .grow {
      padding-bottom: 1rem;
    }

    button {
      position: relative;
    }

    img {
      float: none;
    }

    .grow:hover>div>img {
      transform: scale(1.0);
      transition: transform $transition-time;
    }
  }
}
